@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* :root { */
/*     --bg-color:  */
/*     --operator-color:     */
/*     --button-color-default:     */
/* } */

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;    
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0a0c12;
}

.calculatorBox {
    width: 240px;
    height: 405px;
    border-radius: 10px;
    background-color: #11141d;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 7px;
    margin: 0 12px;
}

.resultBox {
    height: 80px;
    margin: 0px 20px;
    background-color: #26273a;
    border-radius: 5px;
}

.resultBox p {
    margin: 0;
}

.history, .output {
    text-align: right;
    padding-right: 10px;
}

.history {
    color: #9d9eb2;
    font-size: 15px;
}

.output {
    font-size: 30px;
}

.keyboard {
    margin: 12px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 0;
    float: left;
    margin: 2px;
}

.number, .operator {
    cursor: pointer;
}

.number, .empty {
    font-weight: 500;
    background-color: #1a1c28;
    font-size: 20px;
}

.operator {
    font-size: 23px;
    background-color: #494367;
}

#clear {
    background-color: #503a68;
}

#equals {
    background-color: #0334ba;
}
